<%= form_for(@product_category, data: { turbo: false }, html:{class:"mx-auto max-w-screen-md gap-4 sm:grid-cols-1"}) do |form| %>
    <% if @product_category.errors.any? %>
        <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(@product_category.errors.count, "error") %> prohibited this product category from being saved.</h2>

        <ul>
            <%# <% @product_category.errors.each do |error| %>
            <%# <li><%= error.inspect </li> %>
            <%# <% end %>
        </ul>
        </div>
    <% end %>
    <div class="inline-flex items-center">
        <label class="relative flex items-center p-3 rounded-full cursor-pointer" for="product_type_active" data-ripple-dark="true">
            <%= form.check_box :active, class: "before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border border-blue-gray-200 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-teal-500 checked:bg-teal-500 checked:before:bg-teal-500 hover:before:opacity-10" %>
            <div class="absolute text-white transition-opacity opacity-0 pointer-events-none top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 peer-checked:opacity-100">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor" stroke="currentColor" stroke-width="1">
                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"
                    ></path>
                </svg>
            </div>
        </label>
        <%= form.label :active, class: "mt-px font-light text-gray-700 cursor-pointer select-none" %>
    </div>

  <%# =================PRODUCT TYPES SELECTOR =====================  %> 
  <div>
      <label for="product[product_type_id]" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Product Type</label>
      <%= form.collection_select :product_type_id, ProductType.where(active: true), :id, :name, 
      {prompt: "Select a product type..."},
      {class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring"}
      %>
      <% @product_category.errors.full_messages_for(:product_type_id).each do |message| %>
        <div class="text-red-600"><%= message %></div>
      <% end %>
  </div>

  <div>
    <label for="name" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Name</label>
    <%= form.text_field :name, class:"w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring", placeholder:"Type new product category" %>
    <% @product_category.errors.full_messages_for(:name).each do |message| %>
        <div class="text-red-600"><%= message %></div>
    <% end %>
  </div>

  <div class="sm:col-span-2">
    <label for="message" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Description</label>

    <%= form.text_area :description, class: "h-40 w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring", placeholder:"Describe product category here..." %>
    <% @product_category.errors.full_messages_for(:description).each do |message| %>
        <div class="text-red-600"><%= message %></div>
    <%end%>
  </div>

  <div class="flex">
    <button type="submit" class="w-full mx-auto rounded-lg py-3 px-5 bg-green-700 hover:bg-green-800 text-white inline-block font-medium cursor-pointer"">Submit</button>
  </div>

<% end %>