<div class="bg-white py-6 sm:py-8 lg:py-12 px-4 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <!-- text - start -->
    <div class="mb-5 md:mb-5">
      <p class="mx-auto max-w-screen-md text-center text-gray-500 md:text-lg">This is a section of some simple filler text, also known as placeholder text. It shares some characteristics of a real written text but is random or otherwise generated.</p>
    </div>
    <!-- text - end -->

    <!-- form - start -->
    <%= form_for @product, class: "mx-auto grid max-w-screen-md gap-4 sm:grid-cols-2" do |form| %>
        <% if @product.errors.any? %>
            <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
            <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved.</h2>
            <%# <ul> %>
                <%# <% @product.errors.each do |error| %>
                <%# <li><%= error.inspect %>
                 <%# <% end %>
            <%# </ul> %>
            </div>
        <% end %>
        <div class="inline-flex items-center">
            <label class="relative flex items-center p-3 rounded-full cursor-pointer" for="product_active" data-ripple-dark="true">
                <%= form.check_box :active, class: "before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border border-blue-gray-200 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-teal-500 checked:bg-teal-500 checked:before:bg-teal-500 hover:before:opacity-10" %>
                <div class="absolute text-white transition-opacity opacity-0 pointer-events-none top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 peer-checked:opacity-100">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor" stroke="currentColor" stroke-width="1">
                        <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"
                        ></path>
                    </svg>
                </div>
            </label>
            <%= form.label :active, class: "mt-px font-light text-gray-700 cursor-pointer select-none" %>
        </div>
        <%# =================ADD PHOTOS======================= %>
        <div class="sm:col-span-2">
            <label for="image" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Image/s</label>
            <%= image_tag(form.object.image_url, class:"w-32 h-32") if form.object.cached_image_data %>
            <%= form.hidden_field :image, value: form.object.cached_image_data %>
            <%= form.file_field :image, class: "h-10 w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" %>
        </div>
        
       
        <div data-controller="products" class="flex items-start">
            <%# =================PRODUCT TYPES SELECTOR =====================  %> 
            <div class="w-1/2 inline-block mr-1">
                <label for="product[product_types_id]" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Product Type</label>
                <%= form.collection_select :product_type_id, ProductType.where(active: true), :id, :name, 
                {prompt: "Select a product type..."},
                {class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring",
                data: {action: "change->products#change"}}
                %>
                <% @product.errors.full_messages_for(:product_type_id).each do |message| %>
                    <div class="text-red-600"><%= message %></div>
                <% end %>
            </div>

            <%# =================PRODUCT CATEGORIES SELECTOR =====================  %> 
            <div class="w-1/2 inline-block ml-1">
                <label for="product[product_category_id]" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Product Category</label>
                <%= form.collection_select :product_category_id, ProductCategory.none, :id, :name,
                {prompt: "Select a category..."},
                {class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring",
                data: {products_target: "categorySelect"}} %>
                <% @product.errors.full_messages_for(:product_category_id).each do |message| %>
                    <div class="text-red-600"><%= message %></div>
                <% end %>
            </div>
        </div>

        <div class="flex items-start">
            <div class="w-2/3 inline-block">
                <label for="name" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Name</label>
                <%= form.text_field :name, class:"w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring", 
                placeholder:"Product name..." %>
                <% @product.errors.full_messages_for(:name).each do |message| %>
                    <div class="text-red-600"><%= message %></div>
                <% end %>
            </div>

            <div class="w-1/3 inline-block ml-2">
                <label for="price" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Price</label>
                <%= form.text_field :price, class:"w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring", 
                placeholder:"Price..." %>
                <% @product.errors.full_messages_for(:price).each do |message| %>
                    <div class="text-red-600"><%= message %></div>
                <% end %>
            </div>
        </div>

        <div class="sm:col-span-2">
            <label for="message" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Description</label>
            <%= form.text_area :description, class: "h-20 w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring", placeholder:"Describe product here..." %>
            <% @product.errors.full_messages_for(:description).each do |message| %>
                <div class="text-red-600"><%= message %></div>
            <%end%>
        </div>
        <hr/>
        <h3>PRODUCT SKUs</h3>
        <div data-controller="nested-form" class="mb-4">
            <template data-nested-form-target='template'>
                <%= form.fields_for :product_skus, ProductSku.new, child_index: 'TEMPLATE_RECORD' do |ff| %>
                <%= render "product_sku", g: ff %>
                <%end%>
            </template>
            <%= form.fields_for :product_skus do |ff| %>
                <%= render "product_sku", g: ff %>
            <%end%>
            <div data-nested-form-target="add_item">
                <%= link_to "Add Subcategory", "#", 
                class: 'mt-2 inline-block rounded-lg bg-violet-700 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-violet-300 transition duration-100 hover:bg-violet-800 focus-visible:ring active:bg-violet-700 md:text-base', 
                data: { action: "click->nested-form#add_association" } %>
            </div>
            <% @product.errors.full_messages_for(:product_skus).each do |message| %>
                <div class="text-red-600"><%= message %></div>
            <%end%>
        </div>

        <div class="flex items-center justify-between sm:col-span-2">
            <button class="inline-block rounded-lg bg-green-700 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-green-300 transition duration-100 hover:bg-green-800 focus-visible:ring active:bg-green-700 md:text-base" type="submit">Save</button>
        </div>

    <% end %>
    <!-- form - end -->
  </div>
</div>