<div class="flex flex-col mx-10">
  <div class="flex flex-row items-center justify-between pb-4">
    <h1 class="font-bold text-4xl">Products</h1>
    <%= link_to "Add Product", new_product_path, class: "rounded-lg py-3 px-5 bg-blue-600 hover:bg-blue-900 text-white inline-block font-medium cursor-pointer" %>
  </div>
  <%= render "partials/notice" %>
  <%= render "partials/alert" %>
  <div class="pt-2">
    <table class="min-w-full divide-y divide-gray-500 items-center">
      <thead>
        <tr>
          <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Name
          </th>
          <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Description
          </th>
          <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Price
          </th>
          <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Status
          </th>
          <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Product Type
          </th>
          <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Product Category
          </th>
          <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Action
          </th>
        </tr>
      </thead>
          <% @products.each do |p| %>
        <tr>
          <td class="px-6 py-4 whitespace-nowrap">
            <%= p.name %>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <%= p.description.truncate(27) %>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <%= number_to_currency(p.price, unit: "₱") %>
          </td>
            <% if p.active %>
              <td class="px-6 py-4 whitespace-nowrap">
                <span class="flex shrink-0 items-center space-x-1.5 text-xm font-semibold px-3 py-1 rounded-full text-emerald-800 bg-emerald-100 false">
                <span class="whitespace-nowrap mx-auto">Active</span>
                </span>
              </td>
            <% else %>
              <td class="px-6 py-4 whitespace-nowrap">
                <span class="flex shrink-0 items-center space-x-1.5 text-xm font-semibold px-3 py-1 rounded-full text-slate-800 bg-slate-100 false">
                  <span class="whitespace-nowrap mx-auto">Inactive</span>
                </span>
              </td>
            <%end%>
          <td class="px-6 py-4 whitespace-nowrap">
            <%= p.product_type.name %>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <%= p.product_category.name %>
          </td>
          <td class="flex">
            <a href="<%= product_path(p.id) %>" class="inline-block py-4 pr-3 pl-5 text-sky-800">
              <%= render "icons/show" %>
            </a>
            <a href="<%= edit_product_path(p.id) %>" class="inline-block py-4 px-3 text-green-800">
              <%= render "icons/edit" %>
            </a>
            <a href="<%= product_path(p.id) %>" class="inline-block py-4 text-red-800" data-turbo-method="delete"  data-turbo-confirm="Are you sure?"}>
              <%= render "icons/delete" %>
            </a>
          </td>
        </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
