<!DOCTYPE html>
<html>
  <head>
    <title>DigiteerAcademyMidterm</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "partials/sidebar"%>
    <div class="p-4 sm:ml-64 flex flex-col h-screen justify-between">
      <div class="p-4 mt-14">
        <main class="container mx-auto mt-5 px-5 relative">
        <%= yield %>
        </main>
      </div>
      <%= render "partials/modal"%>
      <%= render "partials/footer"%>
    </div> 
  </body>
</html>
